@import "../../styles/mixins";

.header {
    background-color: #191919;
    color: white;
    padding-top: 24px;

    @media (max-width: 710px) {
        padding:20px;
    }

    .main-nav {
        margin-bottom: 36px;
        li {
            font-size: 13px;
            line-height: 25px;
            letter-spacing: 2px;

            &:not(:last-child) {
                margin-right: 35px;
            }

            &:hover {
                color: #d87d4a;
            }

            @include for-pre-tablet-layout {
                display: none;
            }
        }

        @include for-pre-tablet-layout {
            justify-content: flex-start !important;
        }
    }

    .logo {
        @include for-pre-tablet-layout {
            margin-right: auto;
        }
    }

    .cart,
    .hamburger,
    .logo {
        cursor: pointer;
    }

    .hamburger {
        display: none;

        @include for-pre-tablet-layout {
            margin-right: 42px;
            display: inline-block;
        }
    }

    .stroke {
        height: 1px;
        width: 100%;
        opacity: 0.2;
        background-color: white;
        mix-blend-mode: normal;
    }
}
