@import "../../styles/mixins";

.hero {
    position: relative;
    color: #ffffff;
    background-color: #191919;

    img {
        width: 100%;
    }

    .header-img {
        height: 640px;
        width: 100%;
        background-image: url("../../imgs/image-hero.jpg");
        background-position: bottom;
        background-repeat: no-repeat;

        @include for-pre-tablet-layout {
            background-image: url("../../imgs/image-header/tablet/image-header.jpg");
            background-size: cover;
        }

        @include for-mobile-layout {
            height: 470px;
            background-image: url("../../imgs/image-header/mobile/image-header.jpg");
        }
    }

    .content {
        position: absolute;
        top: 128px;
        text-align: start;
        max-width: 400px;

        @include for-pre-tablet-layout {
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            align-items: center;
        }

        .product-label {
            font-size: 14px;
            line-height: 19px;
            letter-spacing: 10px;
            text-transform: uppercase;
            opacity: 0.5;
            margin-bottom: 24px;

            @include for-mobile-layout {
                margin-bottom: 16px;
            }
        }

        .product-title {
            margin-bottom: 24px;
        }

        .product-desc {
            font-size: 15px;
            line-height: 25px;
            font-weight: 500;
            opacity: 0.75;
            margin-bottom: 40px;

            @include for-mobile-layout {
                margin-bottom: 28px;
            }
        }
    }
}
