.also-like-item-preview {

    img {
        width: 350px;
        height: 320px;
        border-radius: 8px;
    }

    .img-wrapper{
        margin-bottom: 40px;
    }

    .product-name{
        margin-bottom: 32px;
    }

}