.third-showcase {
    img {
        margin-right: 30px;
        border-radius: 8px;
    }
    .product-title-container {
        text-align: start;
        background-color: #f1f1f1;
        border-radius: 8px;
        width: 100%;
        padding-top: 100px;
        padding: 100px;

        h2 {
            margin-bottom: 32px;
            font-weight: 700;
            font-size: 28px;
            line-height: 38px;
            letter-spacing: 2px;
        }
}
}
