.category-page-item-left {
    text-align: start;
    margin-bottom: 160px;

    img {
        height: 560px;
        width: 540px;
        margin-right: 125px;
        border-radius: 0.5rem;
    }

    .product-title {
        margin-bottom: 32px;
    }

    .product-txt {
        margin-bottom: 40px;
        opacity: 0.5;
    }

    .product-label {
        color: #d87d4a;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 10px;
        text-transform: uppercase;
        margin-bottom: 16px;
    }
}
