@import "./mixins";

.main-container {
    max-width: 1110px;
    margin: 0 auto;


    @include for-wide-layout {
        max-width: 900px;
    }

    @include for-medium-layout{
        max-width: 800px;
    }

    @include for-small-medium-layout{
        max-width: 750px;
    }

    @include for-pre-tablet-layout {
        max-width: 680px;
    }

    @include for-small-layout {
        max-width: 590px;
    }

    @include for-mobile-layout {
        max-width: 400px;
    }

    @include for-small-mobile-layout {
        max-width: 325px;
    }
}

.flex {
    display: flex;

    > *.full {
        flex: 1;
    }
    &.column {
        flex-direction: column;
    }
    &.justify-center {
        justify-content: center;
    }
    &.align-center {
        align-items: center;
    }
    &.align-end {
        align-items: flex-end;
    }
    &.align-start {
        align-items: flex-start;
    }
    &.space-between {
        justify-content: space-between;
    }
    &.center-self {
        align-self: center;
        justify-self: center;
    }
    &.flex-start {
        justify-content: flex-start;
        align-items: flex-start;
    }
    &.space-around {
        justify-content: space-around;
    }
    &.space-evenly {
        justify-content: space-evenly;
    }
    &.flex-wrap {
        flex-wrap: wrap;
    }
    &.center {
        justify-content: center;
        align-items: center;
    }
}

.clean-list {
    list-style-type: none;
    padding-inline-start: 0;
}
