
//Breakpoints
$wide-breakpoint: 1150px;

$small-wide-breakpoint: 1030px;

$medium-breakpoint: 930px;

$small-medium-breakpoing: 830px;

$pre-tablet-breakpoint: 768px;

$small-breakpoint: 710px;

$mobile-breakpoint: 600px;


$small-mobile-breakpoint: 450px;



$main-border-radius: .5rem;