.button-filled {
    color: white;
    background-color: #d87d4a;
    height: 48px;
    padding: 15px 30px;
    cursor: pointer;

    font-size: 13px;
    font-weight: 700;

    &:hover {
        background-color: #fbaf85;
    }
}
