.second-showcase {
    background-color: #979797;
    background-image: url('../../imgs/product-showcase/image-speaker-zx7.jpg');
    background-repeat: no-repeat;
    padding: 100px;
    text-align: start;
    margin-bottom: 48px;

    h2{
        margin-bottom: 32px;
    }
}