.second-showcase {
    background-color: #979797;
    background-image: url('../../imgs/product-showcase/image-speaker-zx7.jpg');
    background-repeat: no-repeat;
    padding: 100px;
    text-align: start;
    margin-bottom: 48px;
    border-radius: .5rem;

    h4{
        margin-bottom: 32px;
    }
}