.category-page-item-right {
    text-align: start;
    margin-bottom: 160px;

    img {
        height: 560px;
        width: 540px;
        margin-left: 125px;
        border-radius: 0.5rem;
    }

    .product-title {
        margin-bottom: 32px;
    }

    .product-txt {
        margin-bottom: 40px;
        opacity: 0.5;
    }
}
