@import "../../styles/mixins";

.category-page-item-right {
    text-align: start;
    margin-bottom: 160px;

    @include for-pre-tablet-layout {
        flex-direction: column;
        align-items: center;
        margin-bottom: 120px;
    }

    img {
        height: 560px;
        width: 540px;
        margin-left: 125px;
        border-radius: 0.5rem;

        @include for-small-wide-layout {
            margin-left: 60px;
        }

        @include for-medium-layout {
            width: 440px;
            height: 460px;
        }

        @include for-small-medium-layout {
            margin-left: 30px;
        }

        @include for-pre-tablet-layout {
            order: -1;
            width: 100%;
            height: unset;
            margin-left: 0;
            margin-bottom: 52px;
        }

        @include for-mobile-layout {
            margin-bottom: 32px;
        }
    }

    .txt-wrapper {
        @include for-pre-tablet-layout {
            text-align: center;
            align-items: center;
            max-width: 570px;
        }
    }

    .product-title {
        margin-bottom: 32px;
    }

    .product-txt {
        margin-bottom: 40px;
        opacity: 0.5;

        @include for-mobile-layout {
            margin-bottom: 24px;
        }
    }
}
