@import "../../styles/mixins";
@import '../../styles/variables';

.cart-modal {
    border-radius: $main-border-radius;
    background-color: white;
    padding: 30px;

    .remove-all-txt {
        opacity: 0.5;
        margin-left: 150px;
        cursor: pointer;

        @include for-mobile-layout {
            margin-left: unset;
        }
    }

    .modal-header {
        margin-bottom: 32px;
        justify-content: space-between;

        // @include for-mobile-layout {
        //     justify-content: space-between;
        // }
    }

    .cart-items {
        & > *:not(:last-child) {
            margin-bottom: 24px;
        }

        & > *:last-child {
            margin-bottom: 32px;
        }

        @include for-mobile-layout {
            & > * {
                justify-content: space-between;
            }
        }
    }

    .total-container {
        margin-bottom: 24px;
        justify-content: space-between;

        // @include for-mobile-layout {
        //     justify-content: space-between;
        // }

        &-txt {
            opacity: 0.5;
            margin-right: 200px;

            @include for-mobile-layout {
                margin-right: unset;
            }
        }
    }
}
