.cart-modal {
    &.modal-layer {
        position: fixed;
        z-index: 1300;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .modal-wrapper {
            height: 100%;
            outline: 0;
            position: absolute;
            top: 150px;
            right: 165px;
        }
    }

    .modal {
        border-radius: 8px;
        background-color: white;
        padding: 30px;

        .remove-all-txt {
            opacity: 0.5;
            margin-left: 150px;
        }

        .modal-header {
            margin-bottom: 32px;
        }

        .total-container {
            margin-bottom: 24px;
            &-txt {
                opacity: 0.5;
                margin-right: 200px;
            }
        }
    }
}
