.fourth-showcase {
    margin-bottom: 200px;
    margin-top: 200px;
    img {
        width: 540px;
        border-radius: .5rem;
    }

    .content-txt-container {
        max-width: 450px;
        text-align: start;
        h2 {
            margin-bottom: 32px;

            span {
                color: #d87d4a;
            }
        }

        p {
            opacity: 0.5;
        }
    }
}
